.sidebar {
    position: sticky;
    padding-top: 10vh;
    height: 100vw;
    width: 100%;
    background-color: #fff;
    border-right: 2px solid #f0f0f0;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    
  }
  
  .menu {
    list-style: none;
    padding: 2rem;
  }
  
  .menu li {
    
    cursor: pointer;
  }
  
  .menu li:hover {
    color: #00b15c;
    font-weight: bold;
  }
  